<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="../../dist/output.css" rel="stylesheet">
    <script src='main.js'></script>
</head>
<body class="h-full">
    <div class="flex justify-center items-center py-20 bg-blue-200 h-screen">
        <div class="form bg-gray-800 lg:w-4/12 md:w-8/12 sm:10/12 w-full  px-12 py-16   font-medium shadow-2xl">
        <h1 class="text-white uppercase text-2xl text-center pb-12">Admin Login</h1>
        <form action="">
          <span class="">
            <input type="email" name="email" id="email" class="rounded outline-none bg-gray-700 p-2 pl-4 mb-10 w-full  "placeholder="Username">
            <span class="flex justify-end relative -left-3" style="bottom: 68px;">
                <i class="fa-solid fa-user"></i>
            </span>
          </span>
           <span>
            <input type="email" name="email" id="email" class="rounded outline-none bg-gray-700 p-2 pl-4 w-full mb-6" placeholder="Password">
            <span class="flex justify-end relative -left-3" style="bottom: 52px;">
                <i class="fa-solid fa-lock"></i>
            </span>
          </span>
          <span class="text-gray-300 flex justify-end text-xs">Forgot Password?</span>
          <button class="bg-blue-400 px-6 text-white rounded py-1">Login</button>
        </form>
      </div>
      </div>
</body>
</html>